$bodgbg:#f4f7fc;
$app-headerborder:#ebf0f7;
$navleft:#e5e5e5;
$appbg:#fff;
$titlebg:#8091a5;
$white:#ffffff;
$black:#000000;
$leftsidebar:#fff;
$hovercolor:#014861;
$graycolor:#303030;


/* Font Family Start */
$fontthin:'Poppins-Thin';
$fontlight:'Poppins-Light';
$fontregular:'Poppins-Regular';
$fontmedium:'Poppins-Medium';
$fontsemibold:'Poppins-SemiBold';
$fontbold:'Poppins-Bold';
$fontextrabold:'Poppins-ExtraBold';
$fontblack:'Poppins-Black';
/* Font Family End */
/* Font Sizes Start */
$font10:10px;
$font11:11px;
$font12:12px;
$font13:13px;
$font14:14px;
$font15:15px;
$font16:16px;
$font17:17px;
$font18:18px;
$font19:19px;
$font20:20px;
/* Font Sizes End */