<div class="loginbg">
    <div class="loginresize">
        <div class="box">
            <!-- Left Side Section Start-->
            <div class="left">
                <h5>Welcome To</h5>
                <h2>Pycube’s aktivu <span>HTM Suite !</span></h2>
                <img src="assets/images/loginleft.png" alt="aktivu"/>
            </div>
            <!-- Left Side Section End-->
            <div class="right">
                <img src="assets/images/logo-small.png" alt="aktivu" />
                <!-- Login Section Start-->
                <div class="logindata animated fadeIn" *ngIf="showloginSection">
                    <h3>Login into your account</h3>
                        <div class="inputform">
                            <i class="far fa-envelope"></i>
                            <input id="floatingInput" placeholder="Email Id" type="email" />
                            <span class="error" style="visibility: hidden;">Invalid Email</span>
                        </div>
                        <div class="inputform">
                        <i class="pi pi-key"></i>
                        <input cFormControl id="floatingPassword" placeholder="Password" type="password" autocomplete="off" />
                        <span class="error" style="visibility: hidden;">Password is required</span>
                        </div>
                        <button class="login_but">Login</button>
                        <button class="reset_but" (click)="reset();">Reset Password</button>
                  </div>
                <!-- Login Section End-->
                <!-- Reset Section Start-->
                      <div class="logindata animated fadeIn"  *ngIf="showresetSection">
                        <h3>Reset your password</h3>
                            <div class="inputform">
                                <i class="far fa-envelope"></i>
                                <input id="floatingInput" placeholder="Email Id" type="email" />
                                <span class="error" style="visibility: hidden;">Invalid Email</span>
                            </div>
                           
                           
                            <button class="login_but" (click)="passwordreset();">Reset Password</button>
                            <button class="reset_but" (click)="backtologin();">Back to Login</button>
                      </div>
                <!-- Reset Section End-->
                 <!-- Reset Password Section Start-->
                 <div class="logindata animated fadeIn" *ngIf="showsetpassword">
                    <h3>Set New Password</h3>
                        <div class="inputform">
                            <i class="far fa-envelope"></i>
                            <input id="floatingInput" placeholder="Token" type="email" />
                            <span class="error" style="visibility: hidden;">Token is required</span>
                        </div>
                        <div class="inputform">
                        <i class="pi pi-key"></i>
                        <input cFormControl id="floatingPassword" placeholder="New Password" type="password" autocomplete="off" />
                        <span class="error" style="visibility: hidden;">Password is required</span>
                        <span class="error" style="display: none;">Minimum eight characters, at least one uppercase letter,
                            one lowercase letter, one number and one special character</span>
                        </div>
                        <div class="inputform">
                            <i class="pi pi-key"></i>
                            <input cFormControl id="floatingPassword" placeholder="Confirm Password" type="password" autocomplete="off" />
                            <span class="error" style="visibility: hidden;">Confirm Password is required</span>
                            <span class="error" style="display: none;">Passwords must match</span>
                            </div>
                        <button class="login_but" (click)="passwordsubmit();">Submit</button>
                        <button class="reset_but" (click)="backtologin();">Back to Login</button>
                  </div>
                <!-- Reset Password Section End-->
                <!-- OTP Section Start-->
                <div class="logindata animated fadeIn"  *ngIf="showotpSection">
                    <h3>Please enter One Time Password(OTP) to login into your account.</h3>
                        <div class="inputform">
                            <i class="far fa-envelope"></i>
                            <input id="floatingInput" placeholder="OTP" type="text" />
                            <span class="error" style="visibility: hidden;">OTP is required</span>
                        </div>
                       
                       
                        <button class="login_but">Confirm</button>
                        <button class="reset_but" (click)="backtologin();">Back to Login</button>
                        <button class="resend">Resend OTP</button>
                  </div>
            <!-- Reset Section End-->
            </div>
        </div>
    </div>

</div>
