@import "../../../assets/custom-themes/theme-light.scss";
.loginbg{
    background-image: url("../../../assets/images/loginbg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    .loginresize{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:50%;
        margin-top:0px;
        .box{
            background: $white;
            min-height: 400px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 19px 0px;
            -webkit-box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 19px 0px;
            -moz-box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 19px 0px;
            .left{
                background: $loginleftcolor;
                width: 50%;
                display: inline-block;
                -webkit-border-top-left-radius: 15px;
                -webkit-border-bottom-left-radius: 15px;
                -moz-border-radius-topleft: 15px;
                -moz-border-radius-bottomleft: 15px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                height: 450px;
                padding: 30px 25px;
                text-align: center;
                vertical-align: top;
                h5{
                    color:$white;
                    font-family: $fontregular;
                    font-size: $font16;
                    margin-bottom: 0.2rem;
                    margin-top:$font20;
                    text-align: left;
                }
                h2{
                    color: $white;
                    font-family: $fontsemibold;
                    font-size: $font26;
                    text-align: left;
                    span{
                        font-size:$font16;
                    }
                }
                img{
                    width: 80%;
                    margin-bottom: 20px;
                    margin-top:30px;
                }
            }
            .right{
                width: 50%;
                display: inline-block;
                padding: 30px 35px;
                height: 450px;
                vertical-align: middle;
                img{
                    width: 50%;
                }
                .logindata{
                    width: 100%;
                    position: relative;
                    h3{
                        font-family: $fontbold;
                        font-size: $font20;
                        color:$textheading;
                        padding: 20px 0px;
                    }
                    .inputform{
                        border: 0px;
                        margin-bottom: 10px;
                        position: relative;
                        .fa-envelope,.pi-key{
                            position: absolute;
                            left:0px;
                            font-size: 13px;
                            top:8px;
                        }
                        input{
                            border: 0px;
                            border-bottom: 1px solid $inputborder;
                            background: $white;
                            width: 100%;
                            padding-bottom:5px;
                            padding-top: 5px;
                            font-family: $fontmedium;
                            font-size: $font13;
                            color:$inputcolor;
                            padding-left: 25px;
                            outline: 0px;
                        }
                        input:hover{
                            border-bottom: 1px solid $loginleftcolor;
                            color:$loginleftcolor;
                            outline: 0px;
                        }
                        span{
                            width: 100%;
                            font-family: $fontregular;
                            font-size: $font13;

                        }.error{color:$errorcolor;}
                    }
                    
                }
                .inputform:hover{
                    .fa-envelope,.pi-key{
                        color:$loginleftcolor;
                    }
                }
                .login_but{
                    width: 100%;
                    border: 1px solid $loginleftcolor;
                    color:$white;
                    background-color: $loginleftcolor;
                    text-align: center;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                    font-family: $fontsemibold;
                    text-transform: uppercase;
                    font-size: $font13;
                    padding: 8px 0px;
                    outline: 0px;
                }
                .login_but:hover{
                    background: $white;
                    color:$loginleftcolor;
                }
                .reset_but{
                    width: 100%;
                    border: 1px solid $inputcolor;
                    background: $white;
                    color:$inputcolor;
                    
                    text-align: center;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                    font-family: $fontsemibold;
                    text-transform: uppercase;
                    font-size: $font13;
                    padding: 8px 0px;
                    outline: 0px;
                    margin-top:12px;
                }
                .reset_but:hover{
                    color:$loginleftcolor;
                    background-color: $white;
                    border: 1px solid $loginleftcolor;
                }
                .resend{
                    background: transparent;
                    border: 0px solid transparent;
                    text-align: center;
                    margin-top:5px;
                    cursor: pointer;
                    text-decoration: underline;
                    width: 100%;
                    color:$loginleftcolor;
                    font-family: $fontmedium;
                    font-size: $font12;
                }
            }
           
        }

    }
}