$bodgbg:#f4f7fc;
$app-headerborder:#ebf0f7;
$navleft:#e5e5e5;
$appbg:#fff;
$titlebg:#8091a5;
$white:#ffffff;
$black:#000000;
$leftsidebar:#fff;
$hovercolor:#014861;
$graycolor:#303030;
$loginleftcolor:#004de6;
$textheading:#2e2e2e;
$errorcolor:#ff0000;
$inputcolor:#838383;
$inputborder:#b8b8b8;


/* Font Family Start */
$fontthin:'Poppins-Thin';
$fontlight:'Poppins-Light';
$fontregular:'Poppins-Regular';
$fontmedium:'Poppins-Medium';
$fontsemibold:'Poppins-SemiBold';
$fontbold:'Poppins-Bold';
$fontextrabold:'Poppins-ExtraBold';
$fontblack:'Poppins-Black';
/* Font Family End */
/* Font Sizes Start */
$font10:10px;
$font11:11px;
$font12:12px;
$font13:13px;
$font14:14px;
$font15:15px;
$font16:16px;
$font17:17px;
$font18:18px;
$font19:19px;
$font20:20px;
$font21:21px;
$font22:22px;
$font23:23px;
$font24:24px;
$font25:25px;
$font26:26px;
$font27:27px;
$font28:28px;
$font29:29px;
$font30:30px;
/* Font Sizes End */