@import "../../../../assets/custom-themes/theme-light.scss";
.fullpage{
    display: block;
    width: 100%;
    margin-top:15px;
    h2{
        width: 100%;
        display: block;
        font-family: $fontsemibold;
        font-size: $font18;
    }
    button{
        background: transparent;
        border: 0px solid transparent;
    }
    .edit{
        color:#523ee8;
        margin-right: 10px;
        i{
            font-size: 12px;
        }
    }
    .edit:hover,.edit:focus{
        outline: 0px;
        color:#271898;
    }
    .delete{
      color:#ff0000;
      i{
        font-size: 12px;
    }  
    }
    .delete:hover,.delete:focus{
        outline: 0px;
        color:#941111;
    }


}