<div class="fullpage">
    <h2>Maintenance Requests 
        <div class="export">
            <p-menubar [model]="gfg">
            </p-menubar>
             
        </div>
        </h2>

               
<div class="datatable">
    <p-table #dt [value]="customers" [lazy]="true" dataKey="id" (onLazyLoad)="loadCustomers($event)" responsiveLayout="scroll" dataKey="id"   
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords"  [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['id','name','types.name','state.name', 'startdate']">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="types.name">Type <p-sortIcon field="type"></p-sortIcon></th>
             <th pSortableColumn="state.name">State <p-sortIcon field="state.name"></p-sortIcon></th>
            <th pSortableColumn="startdate">Start Date <p-sortIcon field="startdate"></p-sortIcon></th>
            <th>Actions</th>
        </tr>
        <tr>
                <th><p-columnFilter type="text" field="id" [showMenu]="false"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="name" [showMenu]="false"></p-columnFilter></th>
                <th>
                    <p-columnFilter field="types.name" matchMode="in" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect resetFilterOnHide=true display="chip" [ngModel]="value" [options]="typeList"
                          placeholder="Any" itemSize="40" [virtualScroll]="true" optionLabel="request_type_name"
                          optionValue="request_type_id" (onChange)="filter($event.value)">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                              <span class="p-ml-1">types</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="state.name" matchMode="in" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect resetFilterOnHide=true display="chip" [ngModel]="value" [options]="stateList"
                          placeholder="Any" itemSize="40" [virtualScroll]="true" optionLabel="request_state_name"
                          optionValue="request_state_id" (onChange)="filter($event.value)">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                              <span class="p-ml-1">State 1</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="date" field="startdate" matchMode="is" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-calendar (onClearClick)="dateFilter($event)" [(ngModel)]='date_val'
                          (onSelect)="filter($event)" [showButtonBar]="true" [showIcon]="false" dateFormat="mm/dd/yy">
                        </p-calendar>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                
               <th><button class="clear"><i class="pi pi-times"></i> Clear</button></th>
        </tr>
    
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td><a href="javascript:void(0)">{{customer.id}}</a></td>
            <td>{{customer.name}}</td>
            <td>{{customer.types.name}}</td>
            <td>{{customer.state.name}}</td>
            <td>{{customer.startdate}}</td>
            <td><button class="edit"><i class="pi pi-pencil"></i>
            </button> <button class="delete"><i class="pi pi-trash"></i></button></td>
        </tr>
    </ng-template>
</p-table>
</div>
</div>