<style>
  .dropdown-item {
      font-size: 13px;
  }

  .app-header .navbar-nav .dropdown-menu {
      position: absolute;
      margin-right: -19px;
      margin-top: 5px;
  }
  </style>
  <app-header 
    [navbarBrandRouterLink]=""
    [fixed]="true"
    [navbarBrandMinimized]="{src: 'assets/images/logo-small.png',  alt: 'Aktivu'}"
    [navbarBrandFull]="{src: 'assets/images/logo-small.png',  alt: 'Aktivu'}"
    [sidebarToggler]="'lg'"
    [asideMenuToggler]="''" >

    <header class="c-header c-header-light px-3">
      <span class="c-header-brand mb-0 h4">&nbsp;</span>
    </header>



    <ul class="ml-auto rightmenu">
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <div (click)="menu.toggle($event)" class="member_data"><img src="assets/images/member_icon.png" /> <span>Narasimha</span> <i class="pi pi-angle-down"></i>
      </div>
    </ul>
  </app-header>
  <div class="app-body" >
    
    <app-sidebar #appSidebar  [fixed]="true" [display]="'lg'" [minimized]="true"  (minimizedChange)="toggleMinimize($event)">
     <app-sidebar-nav [navItems]="navItems"  [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
  
      <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>

    <!-- Main content -->
    <main class="main">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div><!-- /.container-fluid -->
    </main>
  </div>
  <app-footer fxLayout="column">
   Copyright © 2021 implemented by aktivu<sup>TM</sup>. 
  </app-footer>
