// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "assets/custom-themes/theme-light.scss";
body{
    background-color: $bodgbg;
}

.app-header{
    background-color: $appbg;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

header{
    font-family: $fontmedium;
    font-size: $font14;
    span{
        font-size: $font15 !important;
        color: $titlebg;
    }
}
.navbar-brand-full{
    position: relative !important;
    /*left: -6px !important;
    top: -8px !important;*/
    width: 100%;
  }

  /* Layout Set Up */
  .sidebar{
      background-color:$white;
     
  }

  .sidebar .nav-link{
      color:$graycolor;
      font-family: $fontregular;
      font-size: $font13;
      white-space: nowrap;
    
  }
  .nav-link.nav-dropdown-toggle{
      color:$graycolor !important;
  }
  .brand-minimized .app-header .navbar-brand{
      width: 155px;
  }
  .sidebar .nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0;
    -webkit-box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.1);
    background: $leftsidebar;
   
  }
  .sidebar .nav-dropdown-items{
      padding-left: 10px;
      overflow: hidden;
  }
  .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items{
      background: $white;
      color:$black;
      width: calc(250px - 53px);
      overflow: hidden;
      margin-left:3px;
      padding-left:0px;
  }
  .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link{
      padding-left: 10px;
      overflow: hidden;
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: $font12;
      color:$graycolor;
  }
  .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .active.nav-link{
    color:$white;
  }
  .sidebar .nav-link.active .nav-icon{
      color:$white
  }
  .sidebar .nav-link.active{
    background: $hovercolor;
    
  }
  .sidebar .nav-dropdown.open .nav-dropdown-toggle{
    background: $hovercolor;
    color:$white !important;
    .nav-icon{
        color:$white !important;
    }
  }.sidebar .nav-dropdown-toggle::before{
    right: 2rem;
  }
  .sidebar .nav-dropdown.open .nav-dropdown-toggle::before{
    color:$white !important;
  }
  .sidebar .nav-link:hover{
    background: $hovercolor;
    color:$white !important;
  }
  .sidebar .nav-dropdown.open > .nav-dropdown-items{
      background: $graycolor;
      padding-left:0px;
  }
  .sidebar .nav-dropdown-items .nav-link{
      font-size: $font12;
  }
  .sidebar-minimized .sidebar .sidebar-minimizer{
      background: $hovercolor;
      color:$white;
      height: 40px;
  }
  .sidebar-minimized .sidebar .sidebar-nav{
     /* overflow: hidden;
    overflow-y: scroll;*/
    
  }::-webkit-scrollbar{
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  .sidebar .sidebar-minimizer{
    background: $hovercolor;
    color:$white;
    height: 40px;
    flex: 0 0 40px;
  }
  .sidebar .sidebar-minimizer::before{
      height: 40px;
  }
  .header-fixed .app-body{
    height: calc(100vh - 105px);
    margin-bottom: 50px;
  }
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link{
    background-color: $hovercolor;
    color:$white !important;
  }
  .brand-minimized .app-header .navbar-brand .navbar-brand-minimized
  {
      width: 100%;
  }
  



.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.app-header .navbar-toggler{
    min-width: 30px;
    border-left:1px solid $navleft;
    margin-left: 11px;
padding-left: 10px;
padding-right: 10px;
}
.app-header .navbar-toggler:focus,.app-header .navbar-toggler:active{
    box-shadow: none;
    outline:none;
}
.app-header .navbar-toggler-icon{
    background-image: url("assets/images/menu_icon.png");
}
.app-header .navbar-toggler:hover .navbar-toggler-icon{
    background-image: url("assets/images/menu_icon_hover.png");
}

.app-header{
    border-bottom: 1px solid $app-headerborder;
}
.rightmenu{
    margin-right:15px;
    margin-top:6px;

}

.member_data{
    position: relative;
    top:5px;
    cursor: pointer;
    
    img{
        background: $white;
        border-radius: 14px;
        width: 28px;
        height: 28px;
        display: inline-block;
        margin-right:10px;
        border:1px solid #dcdcdc;
        padding:5px;
    }
    span{
        color:$titlebg;
        display: inline-block;
        margin-right:10px;
        font-family: $fontregular;
        font-size: $font13;
    }
    .pi-angle-down{
        top:4px;
        position: relative;
        color:$titlebg;
    }
    
}
.rightmenu .ui-menu{
    float: right;
    margin-top: 15px;
    .ui-menuitem{
        border-bottom: 1px solid #f1f1f1;
    }
    .ui-menuitem-link{
        padding: 0.514em 0.857em;
        font-family: $fontregular;
        font-size: $font13;
    }
}
.ui-menu::before{
    width: 0; 
height: 0; 
border-left: 5px solid transparent;
border-right: 5px solid transparent;
position: absolute;
top:15px;

border-bottom: 5px solid black;
}
.ui-menu.ui-menu-dynamic{
    border: 1px solid #e4e4e4 !important;
}
.datatable{
    display: block;
    margin-top:10px;
    p-table{
        background: transparent;
    }
    .p-datatable .p-datatable-thead > tr > th{
        background: transparent;
        text-align: center;
        border:0px;
        font-family: $fontmedium;
        font-size: $font13;
        color:#78798a;
        .p-sortable-column-icon{
            display: none;
        }
    }
    .p-datatable .p-datatable-tbody > tr{
        margin-bottom: 3px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 1px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 10px 1px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 1px 0px rgba(0,0,0,0.1);
        td{
            text-align: center;
            border-width: 0 0 5px 0;
            border-color: $bodgbg;
            font-family: $fontmedium;
            font-size: $font13;
            color:#78798a;
            a{
                color:#22ce8b;
                text-decoration: underline;
            }
        }
    }
    .p-datatable .p-sortable-column:not(.p-highlight):hover,.p-datatable .p-sortable-column:not(.p-highlight):focus{
        background-color: $white;
    }
    .p-paginator{
        justify-content: right;
        font-family: $fontregular;
        background:$bodgbg;
        .p-paginator-current{
            font-size: $font13;
            position: absolute;
            left: 0px;
        }
    }
    .p-paginator-page{
        font-family: $fontregular;
        font-size: $font13;
    }
    p-paginator{
        background: transparent;
    }

}
.p-menu{
    ul{
        li{
            border-bottom: 1px solid #f1f1f1;
        }
    }
}
.p-menu.p-menu-overlay{
    top:55px !important;
    font-family: $fontregular;
    font-size: $font14;
}
.app-footer{
    background-color: $white;
    border-top:1px solid #ebf0f7;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(97,97,97,0.1);
-moz-box-shadow: 0px -2px 3px 0px rgba(97,97,97,0.1);
box-shadow: 0px -2px 3px 0px rgba(97,97,97,0.1);
margin-top:10px;
font-family: $fontregular;
font-size: $font13;
color:#78798a;
position: fixed;
bottom: 0px;
width: 100%;
padding: 10px 0px 10px 15px;
}
.p-datatable .p-sortable-column:focus{
    box-shadow: none;
    outline: 0 none;
}
.p-column-filter-row 
{
    .p-inputtext{
        background: $white;
        border: 1px solid $inputborder;
        border-radius: 19px;
        height: 36px;
        padding: 3px 12px;
        font-family: $fontregular;
        font-size: 13px;
    }
    .p-fluid .p-multiselect{
        background: $white;
        border: 1px solid $inputborder;
        border-radius: 19px;
        height: 36px;
        padding: 3px 12px;
        font-family: $fontregular;
        font-size: 13px;
    }
    .p-multiselect .p-multiselect-label{
        padding: 0.3rem 0.3rem;
    }
    .pi-chevron-down{
        font-size: 13px;
    }
    
}
.clear{
    border:1px solid  $inputborder !important;
    background: #e6e6e6 !important;
    border-radius: 19px;
    height: 36px;
    font-family: $fontregular;
    font-size: 12px;
    padding: 3px 55px;
    .pi-times{
        font-size: 12px;
    }
}
.export{
    float: right;
    p-menubar,.p-menubar{
        padding: 0px;
        outline: 0px;
    }
    .p-menubar{
    border:1px solid $inputborder;  
    background: #e6e6e6 !important;
    border-radius: 19px;
    height: 36px;
    font-family: $fontregular;
    font-size: 12px;
    }
    .p-menubar:hover,.p-menubar:focus{
    border:1px solid $inputborder;   
    background: $white !important;
    border-radius: 19px;
    height: 36px;
    font-family: $fontregular;
    font-size: 12px;
    }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
    border:1px solid $inputborder;    
    background: $white !important;
    border-radius: 19px;
    height: 36px;
    font-family: $fontregular;
    font-size: 12px;
    }
    .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover{
    border:1px solid $inputborder; 
    background: $white !important;
    border-radius: 19px;
    height: 36px;
    font-family: $fontregular;
    font-size: 12px;
    }
    .p-menubar {
        ul{
            right: 0px;
            box-shadow: none;
        }
        .p-submenu-list{
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
            margin-top:5px;
            border-radius: 5px;
        }
        .p-menuitem-link:focus{
            box-shadow: none !important;
        }
    }
}